<div id="blog-page" class="page single-page">
    <div class="container">
        <div class="row">
            <!-- Post Content -->
            <div id="post-container" class="col-md-8" role="main">
                <div class="post-container">
                    <h1>{{param}}</h1>
                    <article class="post type-post">
                        <div class="post-thumbnail">
                            <a href="#"><img src="../../../../assets/images/blog-post/blog-post-2.jpg" alt="Post Thumbnail Image"></a>
                        </div>
                        <!-- /.post-thumbnail -->
                        <div class="post-content">
                            <h2 class="post-title">
                                <a href="#">TopClass Multipurpose HTML5 Template</a>
                            </h2>
                            <div class="entry">
                                <p>
                                    <strong>TopClass is a multipurpose HTML template presented by JWTheme and designed by BigPSfan. It can be easily used to make a WP Theme as well as some others.</strong>
                                </p>
                                <p>
                                    We have Developed TopClass WordPress friendly and we believe that the features have ability to make you smile. All possible WordPress Classes are included. TopClass HTML Template is made with the Bootstrap Framework and integrated with FontAwesome.
                                </p>
                                <p>
                                    Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
                                    in orci enim.
                                </p>
                                <blockquote>
                                    Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                                </blockquote>
                                <p>
                                    Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per
                                    conubia nostra, per inceptos himenaeos. Mauris in erat justo.
                                </p>

                                <p>
                                    Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse
                                    in orci enim.
                                </p>
                            </div>
                            <!-- /.entry -->
                            <footer class="post-meta">
                                <div class="entry-meta pull-left">
                                    <span class="entry-date">
											<i class="fa fa-clock-o"></i>
											April 11
										</span>
                                    <span class="tag-links">
											<i class="fa fa-tag"></i>
											<a href="#" rel="tag">HTML</a>
											<a href="#" rel="tag">Responsive</a>
											<a href="#" rel="tag">Template</a>
											<a href="#" rel="tag">webdesign</a>
										</span>
                                </div>
                                <!-- /.entry-meta -->
                                <div class="social-share pull-right">
                                    <span>Share:</span>
                                    <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                    <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
                                    <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </footer>
                            <!-- /.post-meta -->
                        </div>
                        <!-- /.post-content -->
                    </article>
                    <!-- /.post -->


                    <div class="author-bio-container">
                        <div class="author-bio">
                            <div class="box-title">
                                <i class="fa fa-user"></i> About Author
                            </div>
                            <!-- /.box-title -->
                            <div class="about-author">
                                <img class="author-avatar" src="../../../../assets/images/blog-post/author.jpg" alt="Author Image">
                                <div class="author-details">
                                    <h5 class="author-name">Anthony Doe</h5>
                                    <p>
                                        Aenean sollicitudin, lorem quis bibendum auctor, elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.
                                    </p>
                                    <div class="social-btn">
                                        <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                                        <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                                        <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                                        <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                                        <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                                    </div>
                                    <!-- /.social-btn -->
                                </div>
                            </div>
                            <!-- /.about-author -->

                        </div>
                        <!-- /.author-bio -->
                    </div>
                    <!-- /.author-bio-container -->


                    <div id="comments" class="comments-area">
                        <h3 class="comments-title">
                            23 Comments
                        </h3>
                        <!-- /.comments-title -->

                        <ol class="comment-list">
                            <li class="comment parent" id="comments-id-1">
                                <article class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img class="avatar" alt="Comment Author Name" src="../../../../assets/images/comments/01.png">
                                        </div>
                                        <!-- /.comment-author -->
                                    </div>
                                    <!-- /.comment-meta -->

                                    <div class="comment-metadata">
                                        <h5 class="comment-author">
                                            <a href="#">Mirko</a>
                                        </h5>
                                        <!-- /.comment-author -->
                                        <a href="blog-single.html#comments-id-1">
                                            <time datetime="2014-04-22T14:52:56+00:00">
													April 22, 2014 at 2:52 pm							
												</time>
                                        </a>
                                        <span class="reply pull-right">
												<a class="comment-reply-link" href="blog-single.html?replytocom=847#respond">Reply</a> 
											</span>
                                        <!-- /.reply -->
                                    </div>
                                    <!-- /.comment-metadata -->

                                    <div class="comment-content">
                                        <p>The blog page you guys design is really cool! I am waiting for the WP Version of topClass. Hope you will release the WordPress Version very soon.</p>
                                        <p>Thanks a lot!</p>
                                        <p>Mirko</p>
                                    </div>
                                    <!-- .comment-content -->

                                </article>
                                <!-- /.comment-body -->
                                <ol class="children">
                                    <li class="comment" id="comments-id-2">
                                        <article class="comment-body">
                                            <div class="comment-meta">
                                                <div class="comment-author vcard">
                                                    <img class="avatar" alt="Comment Author Name" src="../../../../assets/images/comments/02.png">
                                                </div>
                                                <!-- /.comment-author -->
                                            </div>
                                            <!-- /.comment-meta -->

                                            <div class="comment-metadata">
                                                <h5 class="comment-author">
                                                    <a href="#">Riki</a>
                                                </h5>
                                                <!-- /.comment-author -->
                                                <a href="blog-single.html#comments-id-1">
                                                    <time datetime="2014-04-22T15:22:56+00:00">
															April 22, 2014 at 3:22 pm							
														</time>
                                                </a>
                                                <span class="reply pull-right">
														<a class="comment-reply-link" href="blog-single.html?replytocom=847#respond">Reply</a> 
													</span>
                                                <!-- /.reply -->
                                            </div>
                                            <!-- /.comment-metadata -->

                                            <div class="comment-content">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ab consequatur temporibus dicta odio consectetur quo. In dicta eos atque, debitis maiores earum assumenda sunt illum itaque. Unde, sed,
                                                    neque!
                                                </p>
                                            </div>
                                            <!-- .comment-content -->

                                        </article>
                                        <!-- /.comment-body -->
                                    </li>
                                    <!-- /.comment -->
                                </ol>
                                <!-- /.children -->
                            </li>
                            <!-- /.comment -->
                            <li class="comment" id="comments-id-3">
                                <article class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img class="avatar" alt="Comment Author Name" src="../../../../assets/images/comments/03.png">
                                        </div>
                                        <!-- /.comment-author -->
                                    </div>
                                    <!-- /.comment-meta -->

                                    <div class="comment-metadata">
                                        <h5 class="comment-author">
                                            <a href="#">Aysha</a>
                                        </h5>
                                        <!-- /.comment-author -->
                                        <a href="blog-single.html#comments-id-1">
                                            <time datetime="2014-04-22T15:25:56+00:00">
													April 22, 2014 at 3:25 pm							
												</time>
                                        </a>
                                        <span class="reply pull-right">
												<a class="comment-reply-link" href="blog-single.html?replytocom=847#respond">Reply</a> 
											</span>
                                        <!-- /.reply -->
                                    </div>
                                    <!-- /.comment-metadata -->

                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ab consequatur temporibus dicta odio consectetur quo. In dicta eos atque, debitis maiores earum assumenda sunt illum itaque. Unde, sed, neque!</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi similique natus nostrum fugiat error ratione ipsum aliquid cumque eligendi optio? Facilis ipsum iure tempora laboriosam mollitia modi, neque obcaecati
                                            quia.
                                        </p>
                                    </div>
                                    <!-- .comment-content -->

                                </article>
                                <!-- /.comment-body -->
                            </li>
                            <!-- /.comment -->
                            <li class="comment" id="comments-id-4">
                                <article class="comment-body">
                                    <div class="comment-meta">
                                        <div class="comment-author vcard">
                                            <img class="avatar" alt="Comment Author Name" src="../../../../assets/images/comments/04.png">
                                        </div>
                                        <!-- /.comment-author -->
                                    </div>
                                    <!-- /.comment-meta -->

                                    <div class="comment-metadata">
                                        <h5 class="comment-author">
                                            <a href="#">James</a>
                                        </h5>
                                        <!-- /.comment-author -->
                                        <a href="blog-single.html#comments-id-1">
                                            <time datetime="2014-04-22T16:22:56+00:00">
													April 22, 2014 at 4:22 pm							
												</time>
                                        </a>
                                        <span class="reply pull-right">
												<a class="comment-reply-link" href="blog-single.html?replytocom=847#respond">Reply</a> 
											</span>
                                        <!-- /.reply -->
                                    </div>
                                    <!-- /.comment-metadata -->

                                    <div class="comment-content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ab consequatur temporibus dicta odio consectetur quo. In dicta eos atque, debitis maiores earum assumenda sunt illum itaque. Unde, sed, neque!</p>
                                    </div>
                                    <!-- .comment-content -->

                                </article>
                                <!-- /.comment-body -->
                            </li>
                            <!-- /.comment -->
                        </ol>
                        <!-- /.comment-list -->

                        <nav class="navigation post-navigation" role="navigation">
                            <div class="nav-links">
                                <a href="#" class="prev" rel="prev">
                                    <span class="meta-nav">Previous Post</span>
                                    <span class="nav-icon"><i class="fa fa-angle-double-left"></i></span> Previous Post title goes here ...
                                </a>
                                <a href="#" class="next" rel="next">
                                    <span class="meta-nav">Next Post</span>
                                    <span class="nav-icon"><i class="fa fa-angle-double-right"></i></span> Previous Post title goes here ...
                                </a>
                            </div>
                            <!-- .nav-links -->
                        </nav>
                        <!-- /.post-navigation -->

                        <div id="respond" class="comment-respond">
                            <h4 id="reply-title" class="comment-reply-title">
                                Leave a Reply
                            </h4>
                            <!-- /#reply-title -->
                            <form action="#" method="post" id="commentform" class="comment-form">
                                <input id="author" class="form-control" name="author" type="text" value="" size="30" aria-required="true" placeholder="Name" title="Name" required>
                                <input id="email" class="form-control" name="email" type="email" value="" size="30" aria-required="true" placeholder="Email" title="Email" required>
                                <input id="url" class="form-control" name="url" type="url" value="" size="30" placeholder="URL" title="URL">
                                <textarea id="comment" class="form-control" name="comment" cols="45" rows="8" aria-required="true" placeholder="Comment" title="Comment" required></textarea>
                                <button name="submit" class="btn btn-sm btn-default full-width btn-effect" type="submit" id="submit">Post Comment</button>
                            </form>
                            <!-- /#commentform -->
                        </div>
                        <!-- /#respond -->


                    </div>
                    <!-- /#comments -->

                </div>
                <!-- /.post-container -->
            </div>
            <!-- /.col-md-8 -->
            <!-- Post Content End -->


            <app-sidebar></app-sidebar>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#blog-page -->