<div id="blog-page" class="page blog-page">
    <div class="container">
        <div class="row">
            <!-- Post Content -->
            <div id="post-container" class="col-md-8" role="main">
                <!-- <div class="post-container" *ngFor="let post of posts"> -->
                <div class="post-container">

                    <app-post-item *ngFor="let post of posts" [postItem]="post"></app-post-item>

                    <nav class="paging-navigation" role="navigation">
                        <a class="prev page-numbers pull-left" href="#" title="Previous"><i class="fa fa-chevron-left"></i></a>
                        <a class="page-numbers" href="#">1</a>
                        <a class="page-numbers active" href="#">2</a>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="page-numbers" href="#">5</a>
                        <a class="next page-numbers pull-right" href="#" title="Next"><i class="fa fa-chevron-right"></i></a>
                    </nav>
                    <!-- /.paging-navigation -->

                </div>
                <!-- /.post-container -->
            </div>
            <!-- /.col-md-8 -->
            <!-- Post Content End -->

            <app-sidebar></app-sidebar>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#blog-page -->