<div id="blog-page" class="page blog-page">
    <div class="container">
        <div class="row">
            <!-- Post Content -->
            <div id="post-container" class="col-md-8" role="main">
                <!-- <div class="post-container" *ngFor="let post of posts"> -->
                <div class="post-container">

                    <app-post-item *ngFor="let post of posts" [postItem]="post"></app-post-item>



                    <nav class="paging-navigation" role="navigation">
                        <a class="prev page-numbers pull-left" href="#" title="Previous"><i class="fa fa-chevron-left"></i></a>
                        <a class="page-numbers" href="#">1</a>
                        <a class="page-numbers active" href="#">2</a>
                        <a class="page-numbers" href="#">3</a>
                        <a class="page-numbers" href="#">4</a>
                        <a class="page-numbers" href="#">5</a>
                        <a class="next page-numbers pull-right" href="#" title="Next"><i class="fa fa-chevron-right"></i></a>
                    </nav>
                    <!-- /.paging-navigation -->

                </div>
                <!-- /.post-container -->
            </div>
            <!-- /.col-md-8 -->
            <!-- Post Content End -->


            <!-- Side Bar -->
            <div id="blog-sidebar" class="col-md-4">
                <div class="blog-sidebar">
                    <aside class="widget widget_search">
                        <form role="search" class="search-form" action="#" method="get">
                            <input class="search-field" type="text" name="s" id="s" placeholder="to search type and hit enter.." required>
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                        <!-- /.search-form -->
                    </aside>
                    <!-- /.widget -->

                    <aside class="widget widget_categories">
                        <h3 class="widget-title">
                            Blog Categories
                        </h3>
                        <!-- /.widget-title -->

                        <ul>
                            <li><a href="#">Web Design</a></li>
                            <li><a href="#">Graphic Design</a></li>
                            <li><a href="#">e-Commerce</a></li>
                            <li><a href="#">Flash Animation</a></li>
                            <li><a href="#">Wordpress Theme</a></li>
                            <li><a href="#">HTML5/CSS3</a></li>
                            <li><a href="#">Coding</a></li>
                        </ul>
                    </aside>
                    <!-- /.widget -->

                    <aside class="widget widget_recent_entries">
                        <h3 class="widget-title">
                            Popular Posts
                        </h3>
                        <!-- /.widget-title -->
                        <ul class="latest-post">
                            <li>
                                <div class="widget_img">
                                    <a href="#">
                                        <img src="../../../assets/images/avatar/pp-post-1.jpg" alt="avatar">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                                <!-- /.widget_img -->
                                <div class="recent-post-details">
                                    <a class="post-title" href="#">Standard Blog Post Title Goes Here</a><br>
                                    <time datetime="2014-03-29"><i class="fa fa-clock-o"></i> 29 March</time>
                                    <a href="#"><i class="fa fa-user"></i> Anthony Doe</a>
                                </div>
                                <!-- /.recent-post-details -->
                            </li>
                            <li>
                                <div class="widget_img">
                                    <a href="#">
                                        <img src="../../../assets/images/avatar/pp-post-2.jpg" alt="avatar">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                                <!-- /.widget_img -->
                                <div class="recent-post-details">
                                    <a class="post-title" href="#">Standard Blog Post Title Goes Here</a><br>
                                    <time datetime="2014-03-29"><i class="fa fa-clock-o"></i> 29 March</time>
                                    <a href="#"><i class="fa fa-user"></i> Anthony Doe</a>
                                </div>
                                <!-- /.recent-post-details -->
                            </li>
                            <li>
                                <div class="widget_img">
                                    <a href="#">
                                        <img src="../../../assets/images/avatar/pp-post-3.jpg" alt="avatar">
                                        <span class="overlay"></span>
                                    </a>
                                </div>
                                <!-- /.widget_img -->
                                <div class="recent-post-details">
                                    <a class="post-title" href="#">Standard Blog Post Title Goes Here</a><br>
                                    <time datetime="2014-03-29"><i class="fa fa-clock-o"></i> 29 March</time>
                                    <a href="#"><i class="fa fa-user"></i> Anthony Doe</a>
                                </div>
                                <!-- /.recent-post-details -->
                            </li>
                        </ul>
                        <!-- /.latest-post -->
                    </aside>
                    <!-- /.widget -->


                    <aside class="widget widget_accordion">
                        <h3 class="widget-title">
                            Accoedion Widget
                        </h3>
                        <!-- /.widget-title -->
                        <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapsed">
                      Accordion Collapsibble item #1
                    </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      Accordion Collapsibble item #2
                    </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
                      Accordion Collapsibble item #3
                    </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut sony wt19i
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-group -->
                    </aside>
                    <!-- /.accordion-widget -->


                    <aside class="widget widget_tagcloud clearfix">
                        <h3 class="widget-title">
                            Tag Clouds
                        </h3>
                        <!-- /.widget-title -->
                        <div class="tag-cloud-wrapper">
                            <a href="#">design</a>
                            <a href="#">html5</a>
                            <a href="#">css3</a>
                            <a href="#">webdesign</a>
                            <a href="#">illustrator</a>
                            <a href="#">Photoshop</a>
                            <a href="#">ui/ux</a>
                            <a href="#">js</a>
                            <a href="#">icons</a>
                            <a href="#">article</a>
                            <a href="#">web</a>
                            <a href="#">inDesign</a>
                        </div>
                        <!-- /.tag-cloud-wrapper -->
                    </aside>
                    <!-- /.widget -->

                    <aside class="widget widget_dribble">
                        <h3 class="widget-title">
                            Dribble Shots
                        </h3>
                        <!-- /.widget-title -->
                        <div class="dribble-shots widget_img">
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-1.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-2.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-3.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-4.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-5.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-6.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-7.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                            <a href="#"><img src="../../../assets/images/dribble-shots/dribble-8.png" alt="Dribble Shots image"><span class="overlay"></span></a>
                        </div>
                        <!-- /.shots -->
                    </aside>
                    <!-- /.widget -->

                    <aside class="widget widget_calendar">
                        <div id="calendar_wrap">
                            <table id="wp-calendar">
                                <caption>March 2014</caption>
                                <thead>
                                    <tr>
                                        <th scope="col" title="Monday">M</th>
                                        <th scope="col" title="Tuesday">T</th>
                                        <th scope="col" title="Wednesday">W</th>
                                        <th scope="col" title="Thursday">T</th>
                                        <th scope="col" title="Friday">F</th>
                                        <th scope="col" title="Saturday">S</th>
                                        <th scope="col" title="Sunday">S</th>
                                    </tr>
                                </thead>

                                <tfoot>
                                    <tr>
                                        <td colspan="3" id="prev"><a href="#" title="View posts for February 2014">« Feb</a></td>
                                        <td class="pad">&nbsp;</td>
                                        <td colspan="3" id="next"><a href="#" title="View posts for April 2014">Apr »</a></td>
                                    </tr>
                                </tfoot>

                                <tbody>
                                    <tr>
                                        <td colspan="5" class="pad">&nbsp;</td>
                                        <td>1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td><a href="#" title="Post title goes here">7</a></td>
                                        <td>8</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td><a href="#" title="Post title goes here">15</a></td>
                                        <td>16</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>18</td>
                                        <td><a href="#" title="Post title goes here">19</a></td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td><a href="#" title="Post title goes here">26</a></td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td class="pad" colspan="6">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.calendar_wrap -->
                    </aside>
                    <!-- /.widget -->

                    <aside class="widget widget_archive">
                        <h3 class="widget-title">
                            Archives
                        </h3>
                        <!-- /.widget-title -->
                        <ul>
                            <li><a href="#">April 2014</a></li>
                            <li><a href="#">March 2014</a></li>
                            <li><a href="#">February 2014</a></li>
                        </ul>
                    </aside>
                    <!-- /.widget -->
                </div>
                <!-- /.blog-sidebar -->

            </div>
            <!-- /#blog-sidebar /.col-md-4 -->
            <!-- Side Bar End -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /#blog-page -->