<!-- Footer Section -->
<footer id="footer-section">
    <div class="footer-section parallax-style">
        <div class="pattern">
            <div class="container">
                <div class="footer-social-btn">
                    <a href="#" class="twitter-btn"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook-btn"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="dribbble-btn"><i class="fa fa-dribbble"></i></a>
                    <a href="#" class="linkedin-btn"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="pinterest-btn"><i class="fa fa-pinterest"></i></a>
                    <a href="#" class="google-plus-btn"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="youtube-btn"><i class="fa fa-youtube"></i></a>
                    <a href="#" class="rss-btn"><i class="fa fa-rss"></i></a>
                </div>
                <!-- /.footer-social-btn -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.pattern -->
    </div>
    <!-- /.footer-section -->

    <div class="copyrights">
        <div class="container">
            &copy; <a href="#">TopClass</a> 2014 - Developed by <a href="#">JWTheme</a>
        </div>
        <!-- /.container -->
    </div>
    <!-- /.copyrights -->
</footer>
<!-- /#footer-section -->
<!-- Footer Section End -->